<app-navbar></app-navbar>
<br>
<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-6" >
            <div class="card border-dark mb-3" style="max-width: 18rem;">
                <div class="card-header">Total Package</div>
                <div class="card-body text-dark">
                    <!-- <h5 class="card-title">Dark card title</h5> -->
                    <p class="card-text text-center display-2"><a href="/">{{totPackages}}</a></p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-6" >
            <div class="card border-dark mb-3" style="max-width: 18rem;">
                <div class="card-header">Total Pending Inquiry</div>
                <div class="card-body text-dark">
                    <!-- <h5 class="card-title">Dark card title</h5> -->
                    <p class="card-text text-center display-2">{{totPackages}}</p>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-6">
            <p>
                <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseProfile" aria-expanded="false" aria-controls="collapseProfile">
                    Show Profile
                </button>
            </p>
        </div>
    </div>

    <div class="card collapse mx-1 my-1" id="collapseProfile">
        <div class="card-header">My Profile</div>
        <div class="card-body">
            <form>
                <div class="row">
                    <div class="form-group col-md-4">
                        <label for="Title">Name </label>
                        <input type="text" class="form-control" id="Title" placeholder="Enter Your Name" name="Title"
                            [(ngModel)]="agentProfile.agentName">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="agencyName">Agency Name </label>
                        <input type="text" class="form-control" id="agencyName" name="agencyName"
                            [(ngModel)]="agentProfile.agencyName">
                    </div>
                </div>
                <div class="form-row pb-2">
                    <div class="form-group col-md-6 pr-4">
                        <label for="agencyEmail">Email </label>
                        <input type="text" class="form-control" readonly id="agencyEmail" name="agencyEmail"
                            [(ngModel)]="agentProfile.agencyEmail">
                    </div>
                    <div class="form-group col-md-6 pr-4">
                        <label for="contactNumber">Contact Number</label>
                        <input type="text" class="form-control" id="contactNumber" name="contactNumber"
                            [(ngModel)]="contacts">
                    </div>
                </div>
                <div class="form-row pb-2">

                    <div class="form-group col-md-6 pr-4">
                        <label for="website">Website </label>
                        <input type="text" class="form-control" id="website" name="website"
                            [(ngModel)]="agentProfile.website">
                    </div>
                </div>
                <div class="form-row pb-2">
                    <div class="form-group col-md-6 pr-4">
                        <label for="addressLine1">Address Line1</label>
                        <input type="text" class="form-control" id="addressLine1" name="addressLine1"
                            [(ngModel)]="agentProfile.agencyAddress.addressLine1">
                    </div>
                    <div class="form-group col-md-6 pr-4">
                        <label for="addressLine2">Address Line2</label>
                        <input type="text" class="form-control" id="addressLine2" name="addressLine2"
                            [(ngModel)]="agentProfile.agencyAddress.addressLine2">
                    </div>
                </div>
                <div class="form-row pb-2">
                    <div class="form-group col-md-6 pr-4">
                        <label for="area">Area</label>
                        <input type="text" class="form-control" id="area" name="area"
                            [(ngModel)]="agentProfile.agencyAddress.area">
                    </div>
                    <div class="form-group col-md-6 pr-4">
                        <label for="pincode">Pincode</label>
                        <input type="text" class="form-control" id="pincode" name="pincode"
                            [(ngModel)]="agentProfile.agencyAddress.pincode">
                    </div>
                </div>
                <div class="form-row pb-2">
                    <div class="form-group col-md-6 pr-4">
                        <label for="city">City</label>
                        <input type="text" class="form-control" id="city" name="city"
                            [(ngModel)]="agentProfile.agencyAddress.city">
                    </div>
                    <div class="form-group col-md-6 pr-4">
                        <label for="state">State</label>
                        <input type="text" class="form-control" id="state" name="state"
                            [(ngModel)]="agentProfile.agencyAddress.state">
                    </div>
                </div>
                <div class="form-row pb-2">
                    <div class="form-group col-md-6 pr-4">
                        <label>Agency Image:</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="Imagelb">Upload</span>
                            </div>
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" #ImageAgency
                                    accept=".png, .jpg ,.jpeg ,.gif" (change)="changeImage(ImageAgency.files,$event)"
                                    id="ImageAgency" name="ImageAgency" aria-describedby="Imagelb">
                                <label class="custom-file-label" for="ImageAgency">Choose Image</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-6 pr-4">
                        <img class="border img-fluid" src="{{baseUri}}Images/{{agentProfile.images}}" alt="Agency Image"
                            height="150" width="150">
                    </div>
                </div>
                <button type="submit" class="btn btn-primary" (click)="updateAgent()">Update Profile</button>
            </form>
        </div>
    </div>

</div>