<app-navbar></app-navbar>
<br>
<div class="container">
<div class="row">
    <button class="btn btn-success" (click)="newPackage($event)"><i class="fa fa-plus"></i> Add new Package</button>
</div>
<br>
<div class="row">
    <table class="table">
        <tr>
            <th>Package Image</th>
            <th>Name</th>
            <th>Price</th>
            <th>Departure Date</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        <tr *ngFor="let package of packages">
            <td></td>
            <td>{{package.title}}</td>
            <td>{{package.price}}</td>
            <td>{{package.fixedDepatureDate}}</td>
            <td><button class="btn bg-warning"><i class="fa fa-pencil-square-o fa-2x" aria-hidden="true"></i></button></td>
            <td><button class="btn bg-danger"><i class="fa fa-trash fa-2x" aria-hidden="true"></i></button></td>
        </tr>
    </table>    
</div>
</div>