<app-navbar></app-navbar>
<br>
<div class="container">
<div class="row">
    <button class="btn btn-success" (click)="newPackage($event)"><i class="fa fa-plus"></i> Add new Package</button>
</div>
<br>
<div class="container">
    <table datatable class="table table-hover table-responsive-sm table-responsive-md">
        <thead>
            <tr>
                <th>Package Image</th>
                <th>Name</th>
                <th>Price</th>
                <th>Departure Date</th>
                <th>Cities</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let package of packages">
                <td>
                    <img src="{{baseUri}}/Images/{{package.mainImage}}" alt="{{package.title}} Image" class="rounded" width="200" height="90">
                </td>
                <td>{{package.title}}</td>
                <td>{{package.price}}</td>
                <td>{{package.fixedDepartureDate}}</td>
                <td>{{package.cityIncluded}}</td>
                <td><button class="btn bg-warning"><i class="fa fa-pencil-square-o fa-2x" aria-hidden="true"></i></button></td>
                <td><button class="btn bg-danger"><i class="fa fa-trash fa-2x" aria-hidden="true"></i></button></td>
            </tr>
        </tbody>
    </table>    
</div>
</div>