<app-admin-navbar></app-admin-navbar>
<br>
<div class="container">
<div class="col">
    <!-- <button class="btn btn-success" (click)="newCity($event)"><i class="fa fa-plus"></i> Add new City</button>  -->
    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModal"><i class="fa fa-plus"></i>Add New City</button>
</div>
<br>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add New City</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label" >City Name:</label>
            <input type="text" class="form-control" id="CityName" [(ngModel)]="cityAdd.CityName" name="CityName">
          </div>                
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary" data-dismiss="modal" (click)="addNewCity();">Add City</button>
      </div>
    </div>
  </div>
</div>
<div class="container">
    <table datatable class="table table-hover table-responsive-sm table-responsive-md">
        <thead>
            <tr>
                <th>No.</th>
                <th>Name</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>            
            <tr *ngFor="let city of cities;let i=index;">
                <td>{{i+1}}</td>                
                <td>{{city.cityName}}</td>             
                <td><button class="btn bg-warning"><i class="fa fa-pencil-square-o fa-2x" aria-hidden="true"></i></button></td>
                <td><button class="btn bg-danger" (click)="deleteCity(city.id)" ><i class="fa fa-trash fa-2x" aria-hidden="true"></i></button></td>
            </tr>
        </tbody>
    </table>    
</div>
</div>